venv/
__pycache__/
*.pyc
.env
*.gguf
*.safetensors
.ipynb_checkpoints/
# Hugging Face / Transformers outputs
**/gpt2-cybersecurity-sft/
**/checkpoint-*/

*.safetensors
optimizer.pt
scheduler.pt
trainer_state.json
training_args.bin
rng_state.pth